<div class="slider-container">
  <div class="slider">
    <div 
      class="card" 
      *ngFor="let objective of ObjectiveList" 
      (click)="openPopup(objective, $event)"
    >
      <h3>{{ objective.name }}</h3>
      <p>
        {{ objective.startDate | date:'shortDate' }} - 
        {{ objective.endDate | date:'shortDate' }}
      </p>
      <input 
        type="checkbox" 
        [(ngModel)]="selectedObjectives[objective.id!]" 
        (click)="$event.stopPropagation()" 
        style="height: 30px;"
      >
    </div>
  </div>
</div>
