<h1>Tabella con le spese mensili sotto</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col">Budget</th>
        <th scope="col">Spese</th>
        <th scope="col">Causale</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>500</td>
        <td></td>
        <td>Budget mensile</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td></td>
        <td>100</td>
        <td>ristorazione</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>400</td>
        <td></td>
        <td>budget mensile</td>
      </tr>
    </tbody>
  </table>

<h1>Qua ci saranno grafici</h1>